@media only screen and (max-device-width: 480px){}

body{

  font-family: 'open-sans';
}

#canvas{
 background-color: #999999;
 position: relative;
}

#orange-wrapper{
  position: absolute;
  height: 715px;
  width: 800px;
  background-color: #ff9966;
  top: 120px; 
  margin-left: 200px;
}

/*style tabs*/
#tabs{
width: 800px;
height: 100px;
position: absolute;
left: 262px;
top: 78px;
}

.tabs-deface{
  height: 40px;
  width: 110px;
  margin: .5px;
  font-size: 18px;
  border-radius: 0px;
  color: #373737; 
}

#org-deface{
  width: 150px;
  height: 60px;
  font-size: 30px;
  margin: 0 auto;
  padding: 20 15 15 15;
 }


#nav-tabs-deface{
  border: none;
}

#tab1 a{
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;  
} 

#tab1{
background-color: #ff9966;
border-radius: 0px;
height: 60px;
bottom: 18px;
width: 200px;
margin-left: -2px;
}

#tab1 a{
  font-size: 20px;
}

#tab2{
background-color: #ff9999; 
border-radius: 0px;  
}

#tab3{
background-color: #99ff99;
border-radius: 0px;
}

#tabPlus{
background-color: #e8e8e8; 
border-radius: 100px;
height: 45px;
width: 45px;
margin-left: 5px;
padding: 0 0 0 13px;
font-size: 35px;
font-weight: 800;
bottom: 10px;
position: relative;
}



/*style nav*/
#left-nav{
  background-color: #cccccc;
  height: 830px;
  width: 260px;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}

#user-info{
  height: 9%;
  width: 100%;
  border-bottom: 1px solid black;
  position: relative;
}

#menu-avatar{
  float: left;
  margin: 0 auto;
  border: 1px solid blue;
  margin: 12px;
}

#menu-username{
  float: left;
}

#menu{
  height: 100%;
  width: 100%;
  padding-left: 40px;
}

.block{
  background-color: #cccccc;
  height: 700px;
  width: 250px;
  float: left;
  margin: 4px;
  margin-top: 130px;
}


/*style cards*/
.custom-card{
  height: 80px;
  width: 80%;
  margin: 0 auto;
}

.thumbnail{
  height: 190px;
  margin-top: 120px;
}

#thumbnail1{
  margin-top: 5px;
}


/*style color wrappers*/
.color-wrapper{
position: absolute;
height: 750px;
width: 1450px;
border: 1px solid #fff;
}

/* style modal */
#modal-footer-deface{
  text-align: left;
}

#modal-header{
  margin-left: 20px;
}

#modal-body{
  margin-left: 20px;
}

.modal-footer{
  background-color: #ccc;
  border: 1px solid #919191;
  border-top: 1px solid #919191;

}

#add_to_queue{
  float:right;
  background-color: #cccccc;

}

#footer-headline{
  width: 350px;
  margin-left: 20px;
}

#myModalLabel{
  font-weight: bold;
}

#text{
  width: 550px;
  margin-right: 25px;
  line-height: 1.1;
  font-size: 13px;
}

#from_tag{
  margin-bottom: 10px;
}


/*style buttons*/
#buttons{
  width: 200px;
  height: 80px;

}

.btn-deface{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding-right: 25px;
  background-color: #f9f9f9;
}
